<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1519311965067-36d3e5f33d39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);">
  <div class="container-home">
    <div class="home-image">
      <img src=https://crossfittonbridge.co.uk/wp-content/uploads/2020/02/Crossfit-tonbridge-tag-crossfit-sevenoaks-retina-1.png>
    </div>
    <div class="txt">
    <br>
      <a class="btn btn-ghost-home" href="#">Jump In</a>
      <br>
      <p>Motivation is what gets you started. Habit is what keeps you going.</p>
    </div>
  </div>
</div>
<div class="break">
</div>
<h2>CROSSFIT TAG – WORLD CLASS FITNESS AT THE BEST GYM IN SEVENOAKS WEALD</h2>
<i class="fas fa-dumbbell home-icon"></i>
<div class="text-container">
  <p>We are the only Official CrossFit Affiliate in Tonbridge Kent, using CrossFit training methodology as a prime training method. We are the first UK affiliate to bring CrossFit to the Kent and East Sussex area, having been open since 2010. As of February 2020 we opened our sister box, CrossFit TAG, in Sevenoaks Weald. We’re pleased to be offering access to both sites for our members.
  <br>
  <br>
  Our members travel from Sevenoaks, Tonbridge, Tunbridge Wells and the surrounding areas to train with us. We’re the friendliest gym around and have a large social community built round the gym.
  <br>
  <br>
  Alex Clarke continues to consult on the CrossFit Tonbridge and CrossFit TAG programming working alongside Katie Howitt.  Alex’s programming took him to Crossfit Regionals three times, and with a highest placing of 11th in Europe. Katie Howitt is our Head Coach, and competitive masters’ athlete. She placed 7th in the 2020 Open and 3rd at Stength In Depth 2020.
  <br>
  <br>
  We have a real diversity of members, aged from 12-72 and a near 50/50 male/female ratio. We have people at every strength and fitness level from complete novices through to European Competition Standard Athletes. Whatever your level, you won’t be alone.
  <br>
  </p>
  
  <br>
  <p id="home-link">Come for a Free Taster Class <strong>(book a free taster)</strong> and see why many of our members have been with us since the beginning.</p>
</div>

<div class="home-background-2">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <i class="fas fa-heartbeat home-icon"></i>
        <br>
        <p>Builds capacity in each of three metabolic pathways, developing efficiency for short, medium and long distances simultaneously.</p>
      </div>
      <div class="col-sm">
        <i class="fas fa-child home-icon"></i>
        <br>
        <p>Establishes full body control and range of motion.</p>
      </div>
      <div class="col-sm">
        <i class="fas fa-dumbbell home-icon"></i>
        <br>
        <p>Develop ability to control external objects and produce power! Who doesn’t like to be able to lift heavy things?</p>
      </div>
      <div class="col-sm">
        <i class="fas fa-biking home-icon"></i>
        <br>
        <p>Applies fitness with randomised movements and skill mastery to make you the best you can be at whatever sport you play. Whether that’s competitive Crossfit, weightlifting or any other sport, Crossfit has massive fitness crossover.</p>
      </div>
      <div class="col-sm">
        <i class="fas fa-user-friends home-icon"></i>
        <br>
        <p>We’re a really friendly gym. Several times a year, we all get together for various social activities and a few drinks!</p>
      </div>
    </div>
  </div>
</div>
