.nav-body{
  background: #fbdf2c;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar{
  background: #fbdf2c;
  text-align: right;
  color:black;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  justify-content: flex-end;
  margin-right: 15px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbarDropdown:hover {
  background-color: #e6cf40;
}
    .dropdown:hover .dropdown-menu {
      display: block !important;
      background:#fbdf2c;
      border-radius: 5px;
    }
